<h1>Edit <%= @car.make %></h1>

<%= form_for @car do |f| %>
  <h4><%= f.label :customer %></h4>
  <%= f.text_field :customer %>
  <br>
  <h4><%= f.label :customer_statement %></h4>
  <%= f.text_field :customer_statement %>
  <br>
  <h4><%= f.label :mileage %></h4>
  <%= f.text_field :mileage %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
<br>

<%= form_for @car, method: :delete do |f| %>
  <%= f.submit "Delete", class: "delete" %>
<% end %>
