<h1>Welcome to new vehicle creation!</h1>

<%= form_for @car do |f| %>
  <%= f.label :year %>
  <%= f.text_field :year %>
  <br>
  <%= f.label :make %>
  <%= f.text_field :make %>
  <br>
  <%= f.label :model %>
  <%= f.text_field :model %>
  <br>
  <%= f.label :customer %>
  <%= f.text_field :customer %>
  <br>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
  <br>
  <%= f.select(:problem, options_for_select(@problem_area)) %>
  <br>
  <%= f.submit %>

<% end %>
